* {
    margin: 0;
}

header {
    background-image: url(../img/pattern.png);
    padding-top: 80px;
    background-color: rgb(41, 159, 233);
}

.logo {
    width: 200px;
    padding-left: 10px;
    padding-bottom: 10px;
}

main {
    margin: 7px;
}

h1 {
    font-size: 55px;
}

.titolo p {
    color: grey;
}

.par {
    font-size: 20px;
    font-weight: bold;
}

.titolo span {
    color: rgb(41, 159, 233);
    font-weight: bold;
}

.immagini {
    margin-top: 20px;
}

.immagini p {
    font-size: 0.7em;
}


.lorem {
    margin-top: 30px;
    margin-bottom: 30px;
}

.lorem span {
    background-color: yellow;
}


.tabella {
    margin-top:30px;
}

th{
    padding-right: 150px;
}

.tabella thead {
    background-color: rgb(76, 160, 216);
    color: white;
}

.azzurrino {
    background-color: aqua;
}


footer {
    margin: 7px;
}

footer h4 {
    margin-bottom: 10px;
    color: grey;
}

footer div {
    margin-bottom: 7px;
}

footer p {
    color: white;
    font-size: 25px;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
}

.sfondo1 {
    background-image: url(../img/monitor.jpg);
    height: 200px;
    background-repeat: no-repeat;
}

.sfondo2 {
    background-image: url(../img/graph.jpg);
    height: 200px;
    background-repeat: no-repeat;
}
